.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 20rem;
  max-width: 100%;
}
.leftover-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.mobile-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row{
  max-width: 33vw;
}



