.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 100rem;
  text-align: center;
}
.header{
  text-align: center;
}
.card{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 20rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}

