/*.container{*/
/*  position: relative;*/
/*  max-height: 40vh;*/
/*  overflow: hidden;*/
/*  display: flex;*/
/*  align-items: center;*/
/*  justify-content: center;*/

/*}*/
.parallaxcard{
  min-height: 30rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  /*justify-content: center;*/
}
.text{
  /*position: absolute;*/
  /*left: 50%;*/
  /*top: 50%;*/
  /*transform: translate(-50%, -50%);*/
  display: flex;
  margin-left: 5rem;
  margin-right: 5rem;
  flex-direction: column;
}
.image{
  width: 100vw;
}
.card{
  padding: 0px;
}

